<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <div>
        <%- include("../partials/header.ejs", {showBar:false}) %> 
        <main>
            <div class="red"></div>
            <div class="register">
                <h1>¡Registrate!</h1>

                <form class="form-register" action="/register" method="post">

                    <% if (locals.errors) {
                        const userError = locals.errors.find(e => e.param == "usuario")
                        %>
                        <p class="error-register"><%= userError ? userError.msg : "" %></p> 
                    <% } %>
                    <input class="register-input" type="text" id="usuario" name="usuario" placeholder="Tu nombre" value= "<%= locals.old && old.usuario ? old.usuario : "" %>"></input>
                    
                    <% if (locals.errors) {
                        const emailError = locals.errors.find(e => e.param == "email")
                        %>
                        <p class="error-register"><%= emailError ? emailError.msg : "" %></p> 
                    <% } %>
                    <input class="register-input" type="email" id="email" name="email"  placeholder="Tu email" value= "<%= locals.old && old.email ? old.email : "" %>"></input>
                    
                    <% if (locals.errors) {
                        const pwdError = locals.errors.find(e => e.param == "password")
                        %>
                        <p class="error-register"><%= pwdError ? pwdError.msg : "" %></p> 
                    <% } %>
                    <input  class="register-input" type="password" id="password" name="password" placeholder="Tu contraseña"></input>
                    
                    <% if (locals.mensajeRegistro) { %>
                     <p class="texto-register rojo"><%= mensajeRegistro %> </p>
                    <% } %>
                    <button class="register-button" type="submit">Crear cuenta</button>
                </form>
            </div>
            <a href="/login"><p class="texto-register">¿Ya tienes cuenta? <span class="underline">Inicia Sesión</span></p></a>
        </main>
    </div>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>